@import "./section/font";
@import "./section/variable";
@import "./section/container";
@import "./section/header";
@import "./section/hero";
@import "./section/collection";
@import "./section/chooseus";
@import "./section/Article";
@import "./section/footer";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}