.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 43px 0 34px 0;
  .hamburger{
    display: none;
  }
  .home__page {
    display: flex;
    list-style: none;
    gap: 33px;

    .page__item {
      font-family: "Barlow";
      font-size: 12px;
      line-height: 15px;
      letter-spacing: 0.923077px;
      text-transform: uppercase;

      text-decoration: none;

      & a {
        text-decoration: none;
        color: #83888f;
      }
      & a:hover {
        color: #333d4b;
        cursor: pointer;
      }
       
    }
  }
}

@media only screen and (max-width:600px) {
  .header{
     
    .hamburger{
      margin-top: 7px;
     display: block;
    }
  }
  .cofee__icon{
      width: 150px;
      height: 26px;
    }
  .nav{
    display: none;
  }
  
}
