.subscribe__data {
  display: flex;
  justify-content: center;

  margin-top: 168px;
  gap: 125px;

  .data__left__item {
    display: flex;
    gap: 25px;
    font-family: "Fraunces";
    font-size: 24px;
    line-height: 32px;
    color: #6f757d;

    &:hover,
    &:active {
      color: #333d4b;
      cursor: pointer;
    }
    .hr {
      border: 1px solid #83888f;

      opacity: 0.25;
    }
  }
  .data__right {
    max-width: 57%;
    .data__questions__card {
      display: flex;
      gap: 23px;
      padding: 10px;

      .data__card {
        max-width: 230px;
        padding: 32px 20px 84px;
        margin-bottom: 38px;
        border-radius: 10px;
        background-color: #f4f1eb;
        p {
          max-width: 202px;
        }
      }
      .basc {
        h4,
        p {
          color: #fff;
        }
        background-color: #0e8784;
      }
    }
    .questions__title {
      margin-bottom: 56px;
      font-family: "Fraunces";
      font-size: 40px;
      line-height: 48px;
      color: #83888f;
    }
    .card__title {
      font-family: "Fraunces";
      font-size: 24px;
      line-height: 32px;
      color: #333d4b;
    }
    .summary {
      margin-top: 88px;
      padding: 27px 64px;
      border-radius: 10px;
      background-color: #2c343e;
      h5 {
        font-family: "Barlow-Regular";
        font-size: 16px;
        line-height: 26px;
        text-transform: uppercase;
        color: #ffffff;
        mix-blend-mode: normal;
        opacity: 0.5;
      }
      p {
        font-family: "fraunces";
        font-size: 24px;
        line-height: 40px;
        color: #ffffff;
        span {
          color: #0e8784;
        }
      }
    }
    .btn {
      margin-left: auto;
    }
  }
}

@media only screen and (max-width: 1280px) {
  .subscribe__data {
    display: flex;
    gap: 80px;
    .data__right {
      max-width: 70%;
    }
  }
}

@media only screen and (max-width: 1060px) {
  .subscribe__data {
    gap: 0;
    text-align: center;
    .data__right {
      max-width: 100%;
      .data__questions__card {
        display: flex;
        padding: 10px;
        gap: 10px;
      }
      .data__card {
        max-width: 150px;
        margin: 0 auto;
        .card__title {
          font-size: 20px;
          line-height: 25px;
        }
      }
    }
    .data__left__item {
      display: none;
    }
    
  }
}
@media only screen and (max-width: 760px) {
  .subscribe__data {
    max-width: 100%;
      margin: 0 auto;
    .data__right {
        
      .questions__title {
        margin-top: 120px;
        font-size: 22px;
        line-height: 30px;
      }
      .data__questions__card {
        
        flex-direction: column;
        
      }
      .data__card{
        max-width: 380px;
      }
      .summary{
        margin-bottom: 30px;
      }
      .btn{
       margin: 0 auto;
       margin-bottom: -100px;
      }
    }
  }
}
