 *{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
 }
 
 .btn {
  max-width: 217px;
  width: 100%;
  padding: 15px 30px;
  margin-top: 56px;
  font-family: "Fraunces";
  font-size: 18px;
  line-height: 25px;

  background: #66d2cf;
  border-radius: 6px;
  border: none;

  & a {
    text-decoration: none;

    color: #fefcf7;
  }
}

.description {
  max-width: 445px;
  width: 100%;
  font-family: "Barlow-Regular";
  font-size: 16px;
  line-height: 25px;
  color: #333d4b;
  mix-blend-mode: normal;
  opacity: 0.8;
}
